{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{% endblock %}

{% block body_block %}
    <h1>Rango says...</h1>
    {% if user.is_authenticated %}
        Hello {{ user.username }}
    {% else %}
        Hello world!
    {% endif %}

    {% if categories %}
        <ul>
            {% for category in categories %}
            <li><a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no categories present.</strong>
    {% endif %}

    {% if pages %}
        Top pages:
        <ul>
            {% for page in pages %}
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>No pages.</strong>
    {% endif %}

{% endblock %}
